<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="crowdhub-cordova-plugin-healthkit-ecg" version="0.1.0">

	<name>HealthKitECG</name>
	<author>Austin Isakson</author>


	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="HealthKitECG">
				<param name="ios-package" value="HealthKitECG"/>
			</feature>
		</config-file>

		<js-module src="www/HealthKitECG.js" name="HealthKitECG">
			<clobbers target="HealthKitECG" />
		</js-module>

		<config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit">
			<true/>
		</config-file>

		<config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit">
			<true/>
		</config-file>

		<source-file src="src/ios/HealthKitECG.swift" />
		<dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
		<framework src="HealthKit.framework" weak="true" />
	</platform>

</plugin>
